---
import BaseLayout from '../layouts/BaseLayout.astro'; // импортируем макет для использования на странице
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
</BaseLayout>
