---
import BaseLayout from '../layouts/BaseLayout.astro'; // импортируем макет для использования на странице
const pageTitle = "Tour Info";
---
<BaseLayout pageTitle={pageTitle}>
    <p>This is where we will anonce new concert.</p>
    <ul>
        <li> <a href="/posts/post-1/">25.12.24 Concert in Dublin</a> </li>
        <li> <a href="/posts/post-2/">26.12.24 Concert in Cork</a> </li>
        <li> <a href="/posts/post-3/">31.12.24 Concert in Galway</a> </li>
    </ul>
</BaseLayout>